<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://7454-s4pbtp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4bdfbe36-8870-4bc1-b31b-25356fdd100d/resourceGroups/rg_eastus_tasa_sapbtp/providers/Microsoft.Web/sites/7454-s4pbtp</ResourceId>
    <UserName>$7454-s4pbtp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://7454-s4pbtp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>